.calender_style_adjustment .MuiStack-root {
    padding-top: 0px !important;
}

.calender_style_adjustment .MuiStack-root .MuiStack-root .MuiDateCalendar-root .MuiPickersCalendarHeader-root {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.calender_style_adjustment .MuiStack-root .MuiStack-root .MuiDateCalendar-root {
    height: 310px !important;
}

.main_class_app .MuiBox-root main{
    /* padding: 0 !important; */
    background-color: #2e2e48;
}

.main_class_app .MuiBox-root header{
border: none !important;
}

.linear_progress span{
    background-color: #9797D7 !important;
}
.linear_progress span span{
    background-color: #686892 !important;
}

.Jurnalumum_table_box .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root{
    font-size:0.6rem !important;
    padding: 2px !important;
}

.Jurnalumum_table_box .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root{
    font-size:0.5rem !important;
    padding: 2px !important;
}


.css-1gsw949-MuiTableCell-root:not(:last-of-type):after {
    width: 0px;
}

.Jurnalumum_first_table{
    background-color: #4D4D6C;
}
.Jurnalumum_second_table{
    background-color: #626288;
}

.Jurnalumum_third_table thead tr th {
border: none !important;
}
.Jurnalumum_third_table tbody tr td {
border: none !important;
}

.Jurnalumum_table_main_box .MuiPaper-root{
    box-shadow: none;
    border-radius: 0px;
}